<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.dao.UserDao">

    <sql id="userColum">id ,username,sal,birthday</sql>
    <insert id="save">
        insert  into user(<include refid="userColum"/>) values (#{id},#{username},#{sal},#{birthday})
    </insert>
    <insert id="saveAutoIncrement" useGeneratedKeys="true" keyProperty="id">
        insert  into user (username,sal,birthday) values (#{username},#{sal},#{birthday})
    </insert>
    <update id="update" parameterType="com.company.dao.pojo.User">
        update user set username=#{username},sal=#{sal},birthday=#{birthday} where id=#{id}
    </update>
    <delete id="delete">
        delete  from user where id=#{userId}
    </delete>
    <!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！-->
    <resultMap id="UserResultMap" type="com.company.dao.pojo.User">
        <id column="ID" property="id" jdbcType="INTEGER" />
        <result column="USERNAME" property="username" jdbcType="VARCHAR" />
        <result column="SAL" property="sal" jdbcType="DECIMAL" />
        <result column="BIRTHDAY" property="birthday" jdbcType="DATE" />
    </resultMap>
    <!-- 查询单条记录 -->
    <select id="findById" parameterType="Integer" resultMap="UserResultMap">
		SELECT  <include refid="userColum"/>  FROM user WHERE ID= #{userId}
	</select>
    <select id="findAll" resultType="com.company.dao.pojo.User">
        select <include refid="userColum"/> from  user
    </select>
    <select id="findByName" resultType="com.company.dao.pojo.User">

        select  <include refid="userColum"/>from USER  where  username like concat('%',#{username},'%')
    </select>
    <select id="findByPage" resultType="com.company.dao.pojo.User">
        select <include refid="userColum"/>from user limit #{begin},#{size}
    </select>
    <select id="findByPage2" parameterType="map" resultType="com.company.dao.pojo.User">
        select <include refid="userColum"/>from user limit #{begin},#{size}
    </select>
</mapper>
